<html>
<head>
	<%- setupScript %>

    <link href="/view/tc-counter/counter.css" rel="stylesheet"/>
  
    <script src="/view/tc-counter/jquery.min.js"></script>	
    <script src="/view/tc-counter/ion.sound.min.js"></script>	
	<script src="/view/tc-counter/counter.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.12.1/TweenMax.min.js"></script>
</head>
<body>
<div id="counter">
	<div id="countertitlecontainer">
		<div id="countertitle">Counter</div>
	</div>
	<div id="countervaluecontainer">
		<div id="countervalue">0</div>
	</div>
</div>
</body>
</html>
